<div class="container-fluid">
  <div class="row">
  <% data.collection.each(function(model, i) { %>
  <div class="col-xs-4 instructor">
    <h2><%= model.get('fullName') %></h2>
    <% if (i%3 == 0) { %>
      <div class="clearfix visible-xs-block"></div>
    <% } %>
  </div>
  <% }) %>
  </div>
</div>
