$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.course-image {
  max-width: 200px;
}
.university-image {
  max-width: 100px;
}

.course {
  margin-bottom: 10px;
}

